/*This file contains the styling for the products categories*/
/*Was designed using a mobile first approach*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html, body {
  overflow-x: hidden;
} 
body
{
  background: #fff;
    position: relative;
    font-size: 17px;
}
h2
{
    font-size: 25px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    color:  #369432;
}
p
{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

/*actual section styling*/

.products
{
    margin: 50px 0;
    background-color: #f1f5f7;
    width: 100%;
}
.products-heading
{
    margin: 0 15px;
}
.products-heading h2
{
    color:  #369432;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 20px;
}
.prod
{
    margin: 45px 15px;
}
.prod-heading h2
{
    text-align: center;
}
.item
{
    background-color: #fff;
    margin-bottom: 30px;
    padding-bottom: 15px;
    box-shadow: -1px -1px 15px 2px rgba(192,181,181,1);
}
.item img 
{
    max-width: 100%;
    margin-bottom: 15px;
}
.item > div
{
    margin: 20px 15px;
}
.priced
{
    display: inline-block;
    padding: 9px;
    background-color: #369432;
    border: 1px solid #000;
    margin-right: 20px;
    color: #fff;
}


/*responsive design now*/

@media screen and (min-width: 73em )
{
    .products-heading h2
    {
        text-align: center;
        font-size: 50px;
        margin-bottom: 45px;
    }
    .prod-heading
    {
        display: flex;
        margin-bottom: 50px;
    }
    .prod-heading h2
    {
        font-size: 30px;
        margin: 0 25px;
    }
    .subsections
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        margin: 0 60px;
    }
    .item img
    {
        max-width: 100%;
    }
}