/*This stylesheet contains the styling for the landing page. Designed with a mobile first approach*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html, body {
  overflow-x: hidden;
} 
body
{
  background: #fff;
    position: relative;
    font-size: 17px;
}
h2
{
    font-size: 25px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
p
{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

/*actual page styling*/

.landing-top
{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.landing-top-logo h2
{
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}
.landing-top-links ul li
{
    display: inline-block;
    list-style-type: none;
}
.landing-top-links ul li a
{
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
}

/*the gradient layer section*/
.landing-gradient
{
    background: linear-gradient(to top, #66ff99 0%, #006600 100%);
    width: 100%;
    height: 75vh;
    padding: 20px 15px 20px 15px;
}

.landing-gradient-heading h2
{
    color: #fff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 27px;
}

.landing-gradient-choices 
{
   text-align: center;
  
}
.landing-gradient-choices select
{
    height: 35px;
    width: 206px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.landing-gradient-choices input
{
    height: 35px;
    width: 206px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.landing-gradient-choices #button
{
    height: 35px;
    width: 120px;
    margin-bottom: 20px;
    border-radius: 8px;
    margin-right: 9px;
}
.landing-gradient-choices i
{
    font-size: 24px;
}


/*Responsive design*/

@media screen and (min-width: 73em )
{
    /*landing top*/
    .landing-top
    {
        padding: 10px;
    }
    .landing-top-logo h2
    {
        font-size: 30px;
    }
    .landing-top-links ul li
    {
        margin-right: 30px;
        font-size: 19px;
    }


}
