/*this stylesheet contains all the code for the landing page for the market place*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html, body {
  overflow-x: hidden;
} 
body
{
  background: #fff;
    position: relative;
}
h2
{
    font-size: 25px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
p
{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

/*The body section styling*/
.products
{
    margin: 50px 15px 50px 15px;
}
.productssearchbar form 
{
    text-align: center;
    margin: 0 auto;
}
.productssearchbar input
{
    height: 35px;
    border-radius: 12px;
}
.productssearchbar  i
{
    margin-left: 7px;
    font-size: 20px;
}


/*responsive design now*/

@media screen and (min-width: 73em)
{
    .products
    {
        margin: 100px 80px 100px 80px;
    }
    .productssearchbar input
    {
        width: 350px;
        height: 42px;
        font-size: 16px;
    }
    .productssearchbar i
    {
        font-size: 28px;
        margin-left: 10px;
    }
}