/*This css file styles completely the Farm produces section section. was designed using the mobile first approach. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body {
  overflow-x: hidden;
} 
body
{
  background: #fff;
    position: relative;
}
h2
{
    font-size: 25px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
p
{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


/*actual page styling starts here*/
.farm-produce-categories
{
    margin: 100px 20px 100px 20px;
    background-color: #fff;
}
.produce-heading
{
    width: 100%;
    background: #369432;
}
.produce-heading h2
{
    padding: 11px;
    color: #fff;
    text-align: center;
}
.produce
{
    box-shadow: -1px -1px 15px 2px rgba(192,181,181,1);
    margin-bottom: 30px;
}
.produce-items
{
    background-color: rgba(167, 169, 172, .2);
}
.produce-items ul 
{
    padding: 15px;
}
.produce-items ul li
{
    padding: 12px;
    font-size: 18px;
}
.produce-items ul li i
{
    margin-right: 16px;
    font-size: 22px;
    color: #369432;
}

/*responsive design*/
@media screen and (min-width: 73em )
{
   .farm-produce-categories
    {
        margin: 110px 110px 110px 110px;
    }
    /*create two horizontal grids for the farm produce categories*/
    .produce-categories
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    
    
    .produce-heading h2
    {
        font-size: 31px;
    }
    .produce-items li
    {
        font-size: 19px;
    }
    .produce-items li i
    {
        font-size: 25px;
    }
    
    
}




















