/*This csss file styles completely the register section including cards for the signin and sign up. was designed using the mobile first approach. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html, body {
  overflow-x: hidden;
} 
body
{
  background: #fff;
    position: relative;
}
h2
{
    font-size: 25px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
p
{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

/*Actual page styling*/

.register
{
    background: #f1f5f7;
}
.registery
{
    margin: 35px 20px 20px 20px;
}
.registrydetails
{
    background: #fff;
    box-shadow: -1px -1px 15px 2px rgba(192,181,181,1);
    margin-bottom: 30px;
}
.registrydetails img
{
    max-width: 100%;
    height: 20%;
    padding: 25px 60px 20px 60px;
}
.registryContent
{
    text-align: center;
    padding-bottom: 20px;
}
.registryContent h2
{
    margin: 0 0 15px 0;
}
.registryContent a
{
    color: #369432;
}
.registryContent a i
{
    margin: 0 0 0 7px;
    color: #fff;
    padding: 4px;
    background: #369432;
    border-radius: 50%;
}

/*responsive design now*/
@media screen and (min-width: 73em)
{
   .registery
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 90px 230px 90px 230px;
    }
    .registrydetails
    {
        height: 69vh;
    }
    .registrydetails img
    {
        max-width: 100%;
        height: 49%;
        padding: 35px 90px 30px 90px;
    }
    .registryContent h2
    {
        margin: 0 0 24px 0;
        font-size: 37px;
    } 
    .registryContent a
    {
        font-size: 22px;
    }
    .registryContent a i
    {
        font-size: 24px;
        padding: 7.5px;
    }
    
    
    
}


