/*This csss file styles completely the top part which includes, logo, navbar links, background photo, and headings of the farmbir landing page. was designed using the mobile first approach. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body {
  overflow-x: hidden;
} 
body
{
  background: #fff;
    position: relative;
}
h2
{
    font-size: 25px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
p
{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/*Styling for the landing page begins here*/
/*Let's put a background photo to our landing page*/
.landing-page
{
     background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url("../images/farmproducts.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100%;
    
}

/*the top nav bar social media icons*/
.nav-bar-icons
{
    width: 100%;
    background: #369432;
    text-align: center;
}
.nav-bar-icons i
{
    padding: 15px;
    color: #fff;
    font-size: 20px;
}
.top-contact a
{
    text-decoration: none;
    color: #fff;
}

/*the top nav bar*/
/*logo*/
.logo
{
    
}
.top-nav-bar .logo
{
    background-image: url(../images/farmbirlogo.png); 
    background-size: cover;
    background-position: center;
    margin: 0 70% 0 2%;
    z-index: 5;
}

.top-nav-bar-links
{
    background: #fff;
}
.top-nav-bar-links ul  li
{
    display: block;
    margin: 10px 30px 10px 30px;
    padding: 10px;
    
}
.top-nav-bar-links ul li a
{
    text-decoration: none;
    color: #369432;
    font-size: 18px;
}
.top-nav-bar-links ul li a:hover
{
    color: #00458b;
}

/*
.top-nav-bar .toggle-menu  
{
    position: absolute;
    top: 14%;
    right: 10%;
}
.top-nav-bar .toggle-menu a 
{
    color: #000;
    font-size: 26px;
}
.top-nav-bar .toggle-menu a:hover 
{
    color: #00458b;
}*/

#menubtn
{
   width: 40px;
    height: 40px;
    background: #369432;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 110px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menubtn img
{
    width: 20px;
    margin-top: 12px;
}




/*Responsive design now*/
@media screen and (min-width: 73em)
{
    .landing-page
{
     background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url("../images/farmproducts.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    
}
   /*top socials and contact bar*/
    .nav-bar-icons
    {
        display: flex;
        text-align: center;
    }
    .nav-bar-icons .top-socials
    {
        margin-left: 32%;
    }
    .nav-bar-icons .top-contact
    {
        margin-left: 15%;
    }
    
    #menubtn
    {
        display: none;
    }
    .top-nav-bar 
    {
        display: block;
    }
    .top-nav-bar-links
    {
      background: transparent;  
      margin-left: 35%;    
    }
    .top-nav-bar .top-nav-bar-links ul li
    {
        display: inline-block;
    }
    .top-nav-bar .top-nav-bar-links ul li a
    {
        color: #fff;
        font-size: 20px;
    }
    .top-nav-bar .top-nav-bar-links ul li a:hover
    {
        border-bottom: 3px solid #fff; 
    }
    
}










