/*This csss file styles completely the top part which includes, logo, navbar links, background photo, and headings of the farmbir landing page. was designed using the mobile first approach. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body {
  overflow-x: hidden;
} 
body
{
  background: #fff;
    position: relative;
}
h2
{
    font-size: 25px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
p
{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/*Styling for the landing page begins here*/

/*the top nav bar*/
.top-nav-bar .logo
{
    margin: 0 70% 0 2%;
}
.top-nav-bar .logo img
{
    max-width: 100%;
}
.top-nav-bar-links ul  li
{
    display: block;
    margin: 10px 30px 10px 30px;
    
}
.top-nav-bar-links ul li a
{
    text-decoration: none;
}


.top-nav-bar .toggle-menu a
{
    display: inline-block;
}

















