/*This csss file styles completely the top part which includes, logo, navbar links, background photo, and headings of the farmbir landing page. was designed using the mobile first approach. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html, body {
  overflow-x: hidden;
} 
body
{
  background: #fff;
    position: relative;
}
h2
{
    font-size: 25px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
p
{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

/*Styling for the landing page begins here*/
/*Let's put a background photo to our landing page*/
.landing-page
{
     background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url("../images/farmproducts.jpg");
    background-size: cover;
    background-position: center;
    height: 92vh;
    width: 100%;
    margin-bottom: 60px;
}

/*the top nav bar social media icons*/
.nav-bar-icons
{
    width: 100%;
    background: #369432;
    text-align: center;
}
.nav-bar-icons i
{
    padding: 15px;
    color: #fff;
    font-size: 20px;
}
.top-contact a
{
    text-decoration: none;
    color: #fff;
}

/*The landing middle description and links*/
.landing-description
{
    color: #fff;
    text-align: center;
    margin: 25px 20px 15px 20px; 
}
.landing-desc-heading
{
    margin-bottom: 40px;
    font-size: 30px;
}
.landing-desc-heading h2
{
    font-size: 30px;
}
.landing-desc-links
{
    margin-top: 20px;
}
.landing-desc-links ul li
{
    list-style-type: none;
    margin-bottom: 35px;
    
}
.landing-desc-links a
{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border: 0.5px solid #fff;
    padding: 8px;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.landing-desc-links a span
{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #369432;
    z-index: -1;
    transition: 0.5s;
}
.landing-desc-links a:hover span
{
    width: 100%;
}
.landing-desc-links a:hover
{
    color: #fff;
}



/*Responsive design now*/
@media screen and (min-width: 73em)
{
   /*top socials and contact bar*/
    .nav-bar-icons
    {
        display: flex;
        text-align: center;
    }
    .nav-bar-icons .top-socials
    {
        margin-left: 32%;
    }
    .nav-bar-icons .top-contact
    {
        margin-left: 15%;
    }
    
    /*The landing description now*/
    .landing-description
    {
        margin: 100px 50px 45px 50px;
    }
    .landing-desc-heading 
    {
        margin: 45px 50px 55px 50px;
    }
    .landing-desc-heading h2
    {
        font-size: 63px;
    }
    .landing-desc-links
    {
        margin: 50px auto;
        text-align: center;
    }
    
    .landing-desc-links ul li
    {
        margin-left: 15px;
        display: inline-block;
    }
    .landing-desc-links ul li a
    {
        font-size: 21px;
    }
    
    
    
    
    
}



